
@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <section class="about-section">
        <div class="row">
            <div class="col-lg-6">
                <h2>About Us</h2>
                <p>Welcome to CampusChurch! We are a community dedicated to fostering spiritual growth and providing support to our members. Our mission is to connect people with their faith and each other, offering a place of worship, learning, and fellowship.</p>
                <p>Our church is located in the heart of the community, where we offer a variety of services and programs to support our members and the broader community. From weekly services to special events, we strive to create a welcoming and supportive environment for all.</p>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <img src="~/images/church.jpg" class="card-img-top" alt="Church Image">
                    <div class="card-body">
                        <h5 class="card-title">Our Vision</h5>
                        <p class="card-text">Our vision is to build a community of faith where individuals can grow spiritually and make a positive impact on the world around them. We believe in the power of faith to transform lives and bring people together.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h3>Service Schedule</h3>
                <ul class="list-unstyled">
                    <li>
                        <h5>Wednesday</h5>
                        <p>Prayer Meeting<br>19:00 - 20:00</p>
                    </li>
                    <li>
                        <h5>Sunday</h5>
                        <p>Service<br>19:00 - 20:00</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>


<style>
    .about-section {
        padding: 60px 0;
    }

        .about-section h2 {
            margin-bottom: 20px;
        }

        .about-section .card {
            margin-bottom: 20px;
        }

    ul.list-unstyled li {
        margin-bottom: 20px;
    }

    ul.list-unstyled h5 {
        margin-bottom: 5px;
        font-weight: bold;
    }

</style>