@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white">Acts 2:42</h1>
    <p class="text-white">And they continued stedfastly in the apostles' doctrine and fellowship, and in breaking of bread, and in prayers.</p>
</div>
